<footer class="footer">
    <div class="container">
        <div class="footer-logo"><a href="/">SeturCaravan</a></div>
        <div class="footer-bottom">
            <div class="footer-bottom-left">
                <span class="footer-bottom-left-item">
                    <a href="">Üyelik Sözleşmesi</a>
                </span>
                <span class="footer-bottom-left-item">
                    <a href="">Gizlilik</a>
                </span>
                <span class="footer-bottom-left-item">
                    <a href="">Kişisel Verilerin Korunması Politikası</a>
                </span>
            </div>
            <div class="footer-bottom-right">SeturCaravan © 2021</div>
        </div>
    </div>
</footer>