<header class="header">
    <div class="container">
        <div class="header-logo"><a routerLink="">SeturCaravan</a></div>
        <div class="header-search"><input routerLink="/search" type="text" placeholder="Bir şeyler giriniz.."><span>Ara</span></div>
        <ul class="header-menu">
            <li class="header-menu-item"><a routerLink="/caravan">Karavan Kiralama</a></li>
            <li class="header-menu-item"><a routerLink="/camp">Kamp Rezervasyonu</a></li>
        </ul>
    </div>
</header>