<div class="carousel" data-flickity='{ "fullscreen": true,"pageDots": false, "cellAlign": "left"}'>
    <div class="carousel-cell"><img src="assets/img/caravan1.jpg" alt="" class="foto"></div>
    <div class="carousel-cell"><img src="assets/img/caravan2.jpg" alt="" class="foto"></div>
    <div class="carousel-cell"><img src="assets/img/caravan3.jpg" alt="" class="foto"></div>
    <div class="carousel-cell"><img src="assets/img/caravan4.jpg" alt="" class="foto"></div>
    <div class="carousel-cell"><img src="assets/img/caravan5.jpg" alt="" class="foto"></div>

</div>





<main class="caravanMain">
    <div class="container">
        <div class="caravanMain-content">
            <div class="caravanMain-content-heading">
                <h1 class="caravanMain-content-heading-title">4 Kişilik yeni karavan <img (click)="open360Modal()" src="assets/img/360-view.png"></h1>
                <img src="assets/img/profile1.png" class="caravanMain-content-heading-photo" alt="">
            </div>
            <div class="caravanMain-content-location">
                <div class="caravanMain-content-location-icon"><img src="assets/img/konum.svg" alt=""></div>
                <span class="caravanMain-content-location-cityname">Muğla, Türkiye</span>
            </div>
            <div class="caravanMain-content-subinfo">
                <div class="caravanMain-content-subinfo-item">4 Kişilik</div>
                <div class="caravanMain-content-subinfo-item">Çekilebilir Karavan</div>
                <div class="caravanMain-content-subinfo-item">Hayvan Dostu</div>
            </div>
            <p class="caravanMain-content-shortdetails">Klasik karavanımız; 78 model Wv T2 klasiktir. Üzerinde 1.7 porshe motora sahip olup tüm bakımları yapılıp karavan ve araç kısmı tamamen yenilenmiştir. 4 ileri manuel vites olup aracın geri kalan tüm donanımları manueldir. Karavan olarak ve
                özel günlerinize renk katmak için kullanılabilir. İki kişilik yatak kapasitesine sahiptir.</p>
            <div class="caravanMain-content-boxinfo">
                <div class="caravanMain-content-boxinfo-item">
                    <div class="caravanMain-content-boxinfo-item-icon">
                        <img src="assets/img/yatak.svg" alt="">
                    </div>
                    <span class="caravanMain-content-boxinfo-item-title">Yatak</span>
                    <span class="caravanMain-content-boxinfo-item-detail">4 Kişilik</span>
                </div>
                <div class="caravanMain-content-boxinfo-item">
                    <div class="caravanMain-content-boxinfo-item-icon"><img src="assets/img/koltuk.svg" alt=""></div>
                    <span class="caravanMain-content-boxinfo-item-title">Koltuk</span>
                    <span class="caravanMain-content-boxinfo-item-detail">5 Kişilik</span>
                </div>
                <div class="caravanMain-content-boxinfo-item">
                    <div class="caravanMain-content-boxinfo-item-icon"><img src="assets/img/su.svg" alt=""></div>
                    <span class="caravanMain-content-boxinfo-item-title">Temiz Su Tankı</span>
                    <span class="caravanMain-content-boxinfo-item-detail">20 litre</span>
                </div>
                <div class="caravanMain-content-boxinfo-item">
                    <div class="caravanMain-content-boxinfo-item-icon"><img src="assets/img/benzin.svg" alt=""></div>
                    <span class="caravanMain-content-boxinfo-item-title">Yakıt</span>
                    <span class="caravanMain-content-boxinfo-item-detail">Dizel</span>
                </div>
                <div class="caravanMain-content-boxinfo-item">
                    <div class="caravanMain-content-boxinfo-item-icon"><img src="assets/img/vites.svg" alt=""></div>
                    <span class="caravanMain-content-boxinfo-item-title">Vites</span>
                    <span class="caravanMain-content-boxinfo-item-detail">Otomatik</span>
                </div>
                <div class="caravanMain-content-boxinfo-item">
                    <div class="caravanMain-content-boxinfo-item-icon"><img src="assets/img/yakit.svg" alt=""></div>
                    <span class="caravanMain-content-boxinfo-item-title">Yakıt Kapasitesi</span>
                    <span class="caravanMain-content-boxinfo-item-detail">30 litre</span>
                </div>
                <div class="caravanMain-content-boxinfo-item">
                    <div class="caravanMain-content-boxinfo-item-icon"><img src="assets/img/genislik.svg" alt=""></div>
                    <span class="caravanMain-content-boxinfo-item-title">Araç Genişliği</span>
                    <span class="caravanMain-content-boxinfo-item-detail">3.9 metre</span>
                </div>
                <div class="caravanMain-content-boxinfo-item">
                    <div class="caravanMain-content-boxinfo-item-icon"><img src="assets/img/uzunluk.svg" alt=""></div>
                    <span class="caravanMain-content-boxinfo-item-title">Araç Uzunluğuu</span>
                    <span class="caravanMain-content-boxinfo-item-detail">13 metre</span>
                </div>
            </div>
            <div class="caravanMain-content-importantSpec">
                <h3 class="caravanMain-content-importantSpec-heading">Önemli Özellikler</h3>
                <div class="caravanMain-content-importantSpec-list">
                    <div class="caravanMain-content-importantSpec-list-item">
                        <div class="caravanMain-content-importantSpec-list-item-icon"><img src="assets/img/tick.svg" alt="">
                        </div>
                        <div class="caravanMain-content-importantSpec-list-item-details">Evcil hayvanlara izin verilir.
                        </div>
                    </div>
                    <div class="caravanMain-content-importantSpec-list-item">
                        <div class="caravanMain-content-importantSpec-list-item-icon"><img src="assets/img/tick.svg" alt="">
                        </div>
                        <div class="caravanMain-content-importantSpec-list-item-details">Minibüsün içinde 4 kişi uyuyabilir.
                        </div>
                    </div>
                    <div class="caravanMain-content-importantSpec-list-item">
                        <div class="caravanMain-content-importantSpec-list-item-icon"><img src="assets/img/tick.svg" alt="">
                        </div>
                        <div class="caravanMain-content-importantSpec-list-item-details">Karavan 4,27 m (14 fit) uzunluğundadır.
                        </div>
                    </div>
                    <div class="caravanMain-content-importantSpec-list-item">
                        <div class="caravanMain-content-importantSpec-list-item-icon"><img src="assets/img/tick.svg" alt="">
                        </div>
                        <div class="caravanMain-content-importantSpec-list-item-details">En az 2 gün kiralanabilir.
                        </div>
                    </div>
                    <div class="caravanMain-content-importantSpec-list-item">
                        <div class="caravanMain-content-importantSpec-list-item-icon"><img src="assets/img/tick.svg" alt="">
                        </div>
                        <div class="caravanMain-content-importantSpec-list-item-details">Aracı kiralayacak kişi en az yaş 25 yaşında olmalıdır.</div>
                    </div>
                    <div class="caravanMain-content-importantSpec-list-item">
                        <div class="caravanMain-content-importantSpec-list-item-icon"><img src="assets/img/tick.svg" alt="">
                        </div>
                        <div class="caravanMain-content-importantSpec-list-item-details">Çekmek için SUV, 4x4 veya Büyük 4x4 gerekir.
                        </div>
                    </div>
                </div>
            </div>
            <div class="caravanMain-content-vehicle">
                <h3 class="caravanMain-content-vehicle-heading">Araç Hakkında</h3>
                <div class="caravanMain-content-vehicle-list">
                    <div class="caravanMain-content-vehicle-list-item"><span class="caravanMain-content-vehicle-list-item-heading">Marka</span>
                        <span class="caravanMain-content-vehicle-list-item-text">Mercedes</span>
                    </div>
                    <div class="caravanMain-content-vehicle-list-item">
                        <span class="caravanMain-content-vehicle-list-item-heading">Model</span>
                        <span class="caravanMain-content-vehicle-list-item-text">Sprinter</span>
                    </div>
                    <div class="caravanMain-content-vehicle-list-item">
                        <span class="caravanMain-content-vehicle-list-item-heading">Yıl</span>
                        <span class="caravanMain-content-vehicle-list-item-text">2014</span>
                    </div>
                    <div class="caravanMain-content-vehicle-list-item">
                        <span class="caravanMain-content-vehicle-list-item-heading">Genişlik</span>
                        <span class="caravanMain-content-vehicle-list-item-text">3.9 metre</span>
                    </div>
                    <div class="caravanMain-content-vehicle-list-item">
                        <span class="caravanMain-content-vehicle-list-item-heading">Uzunluk</span>
                        <span class="caravanMain-content-vehicle-list-item-text">13 metre</span>
                    </div>
                    <div class="caravanMain-content-vehicle-list-item">
                        <span class="caravanMain-content-vehicle-list-item-heading">Yatak</span>
                        <span class="caravanMain-content-vehicle-list-item-text">6 Yatak</span>
                    </div>
                    <div class="caravanMain-content-vehicle-list-item">
                        <span class="caravanMain-content-vehicle-list-item-heading">Koltuk</span>
                        <span class="caravanMain-content-vehicle-list-item-text">5 Koltuk</span>
                    </div>
                    <div class="caravanMain-content-vehicle-list-item">
                        <span class="caravanMain-content-vehicle-list-item-heading">Yakıt Tipi</span>
                        <span class="caravanMain-content-vehicle-list-item-text">Dizel</span>
                    </div>
                    <div class="caravanMain-content-vehicle-list-item">
                        <span class="caravanMain-content-vehicle-list-item-heading">Yakıt Tüketimi</span>
                        <span class="caravanMain-content-vehicle-list-item-text">13 litre / 100 km</span>
                    </div>
                </div>




            </div>
            <div class="caravanMain-content-vehicleFeatures">
                <h3 class="caravanMain-content-vehicleFeatures-heading">Araç İçerisindekiler</h3>
                <div class="caravanMain-content-vehicleFeatures-list">
                    <div class="caravanMain-content-vehicleFeatures-list-item">
                        <div class="caravanMain-content-vehicleFeatures-list-item-icon"><img src="assets/img/tick-green.svg" alt=""></div>
                        <span class="caravanMain-content-vehicleFeatures-list-item-text">Klima</span>
                    </div>
                    <div class="caravanMain-content-vehicleFeatures-list-item">
                        <div class="caravanMain-content-vehicleFeatures-list-item-icon"><img src="assets/img/tick-green.svg" alt=""></div>
                        <span class="caravanMain-content-vehicleFeatures-list-item-text">Tente</span>
                    </div>
                    <div class="caravanMain-content-vehicleFeatures-list-item">
                        <div class="caravanMain-content-vehicleFeatures-list-item-icon"><img src="assets/img/tick-green.svg" alt=""></div>
                        <span class="caravanMain-content-vehicleFeatures-list-item-text">Güneş paneli</span>
                    </div>
                    <div class="caravanMain-content-vehicleFeatures-list-item">
                        <div class="caravanMain-content-vehicleFeatures-list-item-icon"><img src="assets/img/tick-green.svg" alt=""></div>
                        <span class="caravanMain-content-vehicleFeatures-list-item-text">Müzik Seti</span>
                    </div>
                    <div class="caravanMain-content-vehicleFeatures-list-item">
                        <div class="caravanMain-content-vehicleFeatures-list-item-icon"><img src="assets/img/tick-green.svg" alt=""></div>
                        <span class="caravanMain-content-vehicleFeatures-list-item-text">TV</span>
                    </div>
                    <div class="caravanMain-content-vehicleFeatures-list-item">
                        <div class="caravanMain-content-vehicleFeatures-list-item-icon"><img src="assets/img/tick-green.svg" alt=""></div>
                        <span class="caravanMain-content-vehicleFeatures-list-item-text">Kahve & Çay</span>
                    </div>
                    <div class="caravanMain-content-vehicleFeatures-list-item">
                        <div class="caravanMain-content-vehicleFeatures-list-item-icon"><img src="assets/img/tick-green.svg" alt=""></div>
                        <span class="caravanMain-content-vehicleFeatures-list-item-text">Çatal, Bıçak, Tabak
                            vb.</span>
                    </div>
                    <div class="caravanMain-content-vehicleFeatures-list-item">
                        <div class="caravanMain-content-vehicleFeatures-list-item-icon"><img src="assets/img/tick-green.svg" alt=""></div>
                        <span class="caravanMain-content-vehicleFeatures-list-item-text">Dondurucu</span>
                    </div>
                    <div class="caravanMain-content-vehicleFeatures-list-item">
                        <div class="caravanMain-content-vehicleFeatures-list-item-icon"><img src="assets/img/tick-green.svg" alt=""></div>
                        <span class="caravanMain-content-vehicleFeatures-list-item-text">Buzdolabı</span>
                    </div>
                    <div class="caravanMain-content-vehicleFeatures-list-item">
                        <div class="caravanMain-content-vehicleFeatures-list-item-icon"><img src="assets/img/tick-green.svg" alt=""></div>
                        <span class="caravanMain-content-vehicleFeatures-list-item-text">Isıtma</span>
                    </div>
                    <div class="caravanMain-content-vehicleFeatures-list-item">
                        <div class="caravanMain-content-vehicleFeatures-list-item-icon"><img src="assets/img/tick-green.svg" alt=""></div>
                        <span class="caravanMain-content-vehicleFeatures-list-item-text">Mikrodalga Fırın</span>
                    </div>
                    <div class="caravanMain-content-vehicleFeatures-list-item">
                        <div class="caravanMain-content-vehicleFeatures-list-item-icon"><img src="assets/img/tick-green.svg" alt=""></div>
                        <span class="caravanMain-content-vehicleFeatures-list-item-text">Geri Görüş
                            Kamerası</span>
                    </div>
                    <div class="caravanMain-content-vehicleFeatures-list-item">
                        <div class="caravanMain-content-vehicleFeatures-list-item-icon"><img src="assets/img/tick-green.svg" alt=""></div>
                        <span class="caravanMain-content-vehicleFeatures-list-item-text">Duş ve Tuvalet</span>
                    </div>
                    <div class="caravanMain-content-vehicleFeatures-list-item">
                        <div class="caravanMain-content-vehicleFeatures-list-item-icon"><img src="assets/img/cross.svg" alt=""></div>
                        <span class="caravanMain-content-vehicleFeatures-list-item-text">Bisiklet
                            Tutacağı</span>
                    </div>
                    <div class="caravanMain-content-vehicleFeatures-list-item">
                        <div class="caravanMain-content-vehicleFeatures-list-item-icon"><img src="assets/img/cross.svg" alt=""></div>
                        <span class="caravanMain-content-vehicleFeatures-list-item-text">Kamp Masası ve
                            Sandalyesi</span>
                    </div>
                    <div class="caravanMain-content-vehicleFeatures-list-item">
                        <div class="caravanMain-content-vehicleFeatures-list-item-icon"><img src="assets/img/cross.svg" alt=""></div>
                        <span class="caravanMain-content-vehicleFeatures-list-item-text">Kahve Makinesi</span>
                    </div>
                    <div class="caravanMain-content-vehicleFeatures-list-item">
                        <div class="caravanMain-content-vehicleFeatures-list-item-icon"><img src="assets/img/cross.svg" alt=""></div>
                        <span class="caravanMain-content-vehicleFeatures-list-item-text">Bulaşık Makinesi</span>
                    </div>
                    <div class="caravanMain-content-vehicleFeatures-list-item">
                        <div class="caravanMain-content-vehicleFeatures-list-item-icon"><img src="assets/img/cross.svg" alt=""></div>
                        <span class="caravanMain-content-vehicleFeatures-list-item-text">Tekerlekli Sandalye
                            Girişi</span>
                    </div>
                </div>
            </div>
            <div class="caravanMain-content-vehicleFeatures">
                <h3 class="caravanMain-content-vehicleFeatures-heading">Nevresim</h3>
                <div class="caravanMain-content-vehicleFeatures-list nevresim">
                    <div class="caravanMain-content-vehicleFeatures-list-item">
                        <div class="caravanMain-content-vehicleFeatures-list-item-icon"><img src="assets/img/cross.svg" alt=""></div>
                        <span class="caravanMain-content-vehicleFeatures-list-item-text">Hayır, kiralayacak kişi
                            kendi çarşaflarını getirmeleri gerekecektir.</span>
                    </div>
                </div>
            </div>
            <div class="caravanMain-content-vehicleFeatures">
                <h3 class="caravanMain-content-vehicleFeatures-heading">Güvenlik Bilgileri</h3>
                <div class="caravanMain-content-vehicleFeatures-list guvenlik">
                    <div class="caravanMain-content-vehicleFeatures-list-item">
                        <div class="caravanMain-content-vehicleFeatures-list-item-icon"><img src="assets/img/tick-green.svg" alt=""></div>
                        <span class="caravanMain-content-vehicleFeatures-list-item-text">Yangın Söndürücü</span>
                    </div>
                    <div class="caravanMain-content-vehicleFeatures-list-item">
                        <div class="caravanMain-content-vehicleFeatures-list-item-icon"><img src="assets/img/tick-green.svg" alt=""></div>
                        <span class="caravanMain-content-vehicleFeatures-list-item-text">Duman Dedektörü</span>
                    </div>
                    <div class="caravanMain-content-vehicleFeatures-list-item">
                        <div class="caravanMain-content-vehicleFeatures-list-item-icon"><img src="assets/img/cross.svg" alt=""></div>
                        <span class="caravanMain-content-vehicleFeatures-list-item-text">Yangın
                            Battaniyesi</span>
                    </div>
                    <div class="caravanMain-content-vehicleFeatures-list-item">
                        <div class="caravanMain-content-vehicleFeatures-list-item-icon"><img src="assets/img/cross.svg" alt=""></div>
                        <span class="caravanMain-content-vehicleFeatures-list-item-text">GPS Takip Cihazı</span>
                    </div>
                </div>
            </div>
            <div class="caravanMain-content-vehicleLocation">
                <h3 class="caravanMain-content-vehicleLocation-heading">Araç Konumu</h3>
                <div class="caravanMain-content-vehicleLocation-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8984.7195191669!2d29.117733115335966!3d36.66196687581308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c0439b0db6b13b%3A0x87150704244f70d7!2zRmV0aGl5ZSwgTXXEn2xh!5e0!3m2!1str!2str!4v1639555213468!5m2!1str!2str"
                        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
            <div class="caravanMain-content-datetime">
                <h3 class="caravanMain-content-datetime-heading">Uygun Tarih Aralığı</h3>
                <div class="caravanMain-content-datetime-map">
                    Takvim gelecek.
                </div>
            </div>
            <div class="caravanMain-content-rules">
                <h3 class="caravanMain-content-rules-heading">Kurallar</h3>
                <div class="caravanMain-content-rules-list">
                    <div class="caravanMain-content-rules-list-item">
                        <div class="caravanMain-content-rules-list-item-icon"><img src="assets/img/rule.svg" alt=""></div>
                        <div class="caravanMain-content-rules-list-item-detail">Sigara içmek yasaktır.</div>
                    </div>
                    <div class="caravanMain-content-rules-list-item">
                        <div class="caravanMain-content-rules-list-item-icon"><img src="assets/img/rule.svg" alt=""></div>
                        <div class="caravanMain-content-rules-list-item-detail">Off Road yasaktır.</div>
                    </div>
                    <div class="caravanMain-content-rules-list-item">
                        <div class="caravanMain-content-rules-list-item-icon"><img src="assets/img/rule.svg" alt=""></div>
                        <div class="caravanMain-content-rules-list-item-detail">Temizlenmiş ve düzenli iade edin veya isteğe bağlı temizlik ücreti ödeyin.</div>
                    </div>
                    <div class="caravanMain-content-rules-list-item">
                        <div class="caravanMain-content-rules-list-item-icon"><img src="assets/img/rule.svg" alt=""></div>
                        <div class="caravanMain-content-rules-list-item-detail">Aracı kiralayacak kişi en az yaş 25 yaşında olmalıdır.</div>
                    </div>
                </div>
            </div>
            <div class="caravanMain-content-price">
                <h3 class="caravanMain-content-price-heading">Fiyat</h3>
                <div class="caravanMain-content-price-list">
                    <div class="caravanMain-content-price-list-item">
                        <span class="caravanMain-content-price-list-item-title">Kiralama Ücreti: </span>
                        <span class="caravanMain-content-price-list-item-detail">Günlük 375 ₺</span>
                    </div>
                    <div class="caravanMain-content-price-list-item">
                        <span class="caravanMain-content-price-list-item-title">Komisyon Ücreti: </span>
                        <span class="caravanMain-content-price-list-item-detail">120 ₺</span>
                    </div>
                </div>
            </div>
            <div class="caravanMain-content-cancelation">
                <h3 class="caravanMain-content-cancelation-heading">İptal Şartları</h3>
                <p class="caravanMain-content-cancelation-detail">Rezervasyonun başlamasına 45 gün kala iptal edebilir ve tam kredi alabilirsiniz. Talep üzerine geri ödeme yapılabilir (yönetici ücreti hariç) ve işleme koyulması 30 gün kadar sürebilir.
                </p>
            </div>
            <div class="caravanMain-content-review">
                <h3 class="caravanMain-content-review-heading">8 Değerlendirme</h3>
                <div class="caravanMain-content-review-list">
                    <div class="caravanMain-content-review-list-item">
                        <div class="caravanMain-content-review-list-item-heading">
                            <img src="assets/img/profile1.png" class="caravanMain-content-review-list-item-heading-photo" alt="">
                            <div class="caravanMain-content-review-list-item-heading-profile">
                                <span class="caravanMain-content-review-list-item-heading-profile-name">Faruk
                                    İpek</span>
                                <span class="caravanMain-content-review-list-item-heading-profile-date">Haziran
                                    2021</span>
                            </div>
                            <div class="caravanMain-content-review-list-item-heading-star"><img src="assets/img/yildiz.svg" alt="">
                                <img src="assets/img/yildiz.svg" alt="">
                                <img src="assets/img/yildiz.svg" alt="">
                                <img src="assets/img/yildiz.svg" alt="">
                                <img src="assets/img/yildiz.svg" alt="">
                            </div>
                        </div>
                        <div class="caravanMain-content-review-list-item-detail">
                            Mükemmel bir deneyim yaşadık. Çok teşekkürler.
                        </div>
                    </div>
                    <div class="caravanMain-content-review-list-item">
                        <div class="caravanMain-content-review-list-item-heading">
                            <img src="assets/img/profile1.png" class="caravanMain-content-review-list-item-heading-photo" alt="">
                            <div class="caravanMain-content-review-list-item-heading-profile">
                                <span class="caravanMain-content-review-list-item-heading-profile-name">Faruk
                                    İpek</span>
                                <span class="caravanMain-content-review-list-item-heading-profile-date">Haziran
                                    2021</span>
                            </div>
                            <div class="caravanMain-content-review-list-item-heading-star">
                                <img src="assets/img/yildiz.svg" alt="">
                                <img src="assets/img/yildiz.svg" alt="">
                                <img src="assets/img/yildiz.svg" alt="">
                                <img src="assets/img/yildiz.svg" alt="">
                                <img src="assets/img/yildiz.svg" alt="">
                            </div>
                        </div>
                        <div class="caravanMain-content-review-list-item-detail">
                            Mükemmel bir deneyim yaşadık. Çok teşekkürler.
                        </div>
                    </div>
                    <div class="caravanMain-content-review-list-item">
                        <div class="caravanMain-content-review-list-item-heading">
                            <img src="assets/img/profile1.png" class="caravanMain-content-review-list-item-heading-photo" alt="">
                            <div class="caravanMain-content-review-list-item-heading-profile">
                                <span class="caravanMain-content-review-list-item-heading-profile-name">Faruk
                                    İpek</span>
                                <span class="caravanMain-content-review-list-item-heading-profile-date">Haziran
                                    2021</span>
                            </div>
                            <div class="caravanMain-content-review-list-item-heading-star"><img src="assets/img/yildiz.svg" alt="">
                                <img src="assets/img/yildiz.svg" alt="">
                                <img src="assets/img/yildiz.svg" alt="">
                                <img src="assets/img/yildiz.svg" alt="">
                                <img src="assets/img/yildiz.svg" alt="">
                            </div>
                        </div>
                        <div class="caravanMain-content-review-list-item-detail">
                            Mükemmel bir deneyim yaşadık. Çok teşekkürler.
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="caravanMain-sidebar">
            <div class="caravanMain-sidebar-price">
                <div class="caravanMain-sidebar-price-money">258 ₺</div>
                <div class="caravanMain-sidebar-price-daily">/ günlük</div>
            </div>

            <div class="caravanMain-sidebar-date">
                <div class="caravanMain-sidebar-date-item">
                    <div class="caravanMain-sidebar-date-item-title">Alış Tarihi</div>
                    <div class="caravanMain-sidebar-date-item-value">Tarih Seç</div>
                </div>
                <div class="caravanMain-sidebar-date-item">
                    <div class="caravanMain-sidebar-date-item-title">İade Tarihi</div>
                    <div class="caravanMain-sidebar-date-item-value">Tarih Seç</div>
                </div>
            </div>
            <div class="caravanMain-sidebar-button">
                Hemen Öde
            </div>
            <div class="caravanMain-sidebar-summary">
                <div class="caravanMain-sidebar-summary-list">
                    <div class="caravanMain-sidebar-summary-list-left">258 ₺ x 3 gün </div>
                    <div class="caravanMain-sidebar-summary-list-right">774 ₺</div>
                </div>
                <div class="caravanMain-sidebar-summary-list">
                    <div class="caravanMain-sidebar-summary-list-left">Rezervasyon Ücreti</div>
                    <div class="caravanMain-sidebar-summary-list-right">120 ₺</div>
                </div>
                <div class="caravanMain-sidebar-summary-list">
                    <div class="caravanMain-sidebar-summary-list-left">Servis Ücreti</div>
                    <div class="caravanMain-sidebar-summary-list-right">80 ₺</div>
                </div>
                <div class="caravanMain-sidebar-summary-seperator"></div>
                <div class="caravanMain-sidebar-summary-list">
                    <div class="caravanMain-sidebar-summary-list-left">Toplam</div>
                    <div class="caravanMain-sidebar-summary-list-right">974 ₺</div>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="similarCaravan">
    <div class="container">
        <h2 class="similarCaravan-heading">Benzer Karavanlar</h2>
        <div class="similarCaravan-list">
            <div class="similarCaravan-list-item">
                <img src="assets/img/caravan1.jpg" alt="" class="similarCaravan-list-item-photo">
                <h4 class="similarCaravan-list-item-title">1978 Volkswagen Vintage Bus Westfalia</h4>
                <div class="similarCaravan-list-item-sub">
                    <div class="similarCaravan-list-item-sub-info">
                        <div class="similarCaravan-list-item-sub-info-icon"><img src="assets/img/yildiz.svg" alt=""></div>
                        <div class="similarCaravan-list-item-sub-info-point">4.7</div>
                        <div class="similarCaravan-list-item-sub-info-reviewcount">(23)</div>
                    </div>
                    <div class="similarCaravan-list-item-sub-bed">4 Yatak</div>
                </div>
                <div class="similarCaravan-list-item-price">
                    <span class="similarCaravan-list-item-price-money">258 ₺</span>
                    <span class="similarCaravan-list-item-price-daily">/ günlük</span>
                </div>



            </div>
            <div class="similarCaravan-list-item">
                <img src="assets/img/caravan2.jpg" alt="" class="similarCaravan-list-item-photo">
                <h4 class="similarCaravan-list-item-title">1978 Volkswagen Vintage Bus Westfalia</h4>
                <div class="similarCaravan-list-item-sub">
                    <div class="similarCaravan-list-item-sub-info">
                        <div class="similarCaravan-list-item-sub-info-icon"><img src="assets/img/yildiz.svg" alt=""></div>
                        <div class="similarCaravan-list-item-sub-info-point">4.7</div>
                        <div class="similarCaravan-list-item-sub-info-reviewcount">(23)</div>
                    </div>
                    <div class="similarCaravan-list-item-sub-bed">4 Yatak</div>
                </div>
                <div class="similarCaravan-list-item-price">
                    <span class="similarCaravan-list-item-price-money">258 ₺</span>
                    <span class="similarCaravan-list-item-price-daily">/ günlük</span>
                </div>



            </div>
            <div class="similarCaravan-list-item">
                <img src="assets/img/caravan3.jpg" alt="" class="similarCaravan-list-item-photo">
                <h4 class="similarCaravan-list-item-title">1978 Volkswagen Vintage Bus Westfalia</h4>
                <div class="similarCaravan-list-item-sub">
                    <div class="similarCaravan-list-item-sub-info">
                        <div class="similarCaravan-list-item-sub-info-icon"><img src="assets/img/yildiz.svg" alt=""></div>
                        <div class="similarCaravan-list-item-sub-info-point">4.7</div>
                        <div class="similarCaravan-list-item-sub-info-reviewcount">(23)</div>
                    </div>
                    <div class="similarCaravan-list-item-sub-bed">4 Yatak</div>
                </div>
                <div class="similarCaravan-list-item-price">
                    <span class="similarCaravan-list-item-price-money">258 ₺</span>
                    <span class="similarCaravan-list-item-price-daily">/ günlük</span>
                </div>



            </div>
            <div class="similarCaravan-list-item">
                <img src="assets/img/caravan4.jpg" alt="" class="similarCaravan-list-item-photo">
                <h4 class="similarCaravan-list-item-title">1978 Volkswagen Vintage Bus Westfalia</h4>
                <div class="similarCaravan-list-item-sub">
                    <div class="similarCaravan-list-item-sub-info">
                        <div class="similarCaravan-list-item-sub-info-icon"><img src="assets/img/yildiz.svg" alt=""></div>
                        <div class="similarCaravan-list-item-sub-info-point">4.7</div>
                        <div class="similarCaravan-list-item-sub-info-reviewcount">(23)</div>
                    </div>
                    <div class="similarCaravan-list-item-sub-bed">4 Yatak</div>
                </div>
                <div class="similarCaravan-list-item-price">
                    <span class="similarCaravan-list-item-price-money">258 ₺</span>
                    <span class="similarCaravan-list-item-price-daily">/ günlük</span>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="modelActive" class="modal-360-img">
        <div (click)="open360Modal()" class="close-model"><img src="assets/img/cross.svg" alt=""></div>
        <div id="img360"></div>
    </div>
</div>