<div class="carousel" data-flickity='{ "fullscreen": true,"pageDots": false, "cellAlign": "left"}'>
    <div class="carousel-cell"><img src="assets/img/caravan1.jpg" alt="" class="foto"></div>
    <div class="carousel-cell"><img src="assets/img/caravan2.jpg" alt="" class="foto"></div>
    <div class="carousel-cell"><img src="assets/img/caravan3.jpg" alt="" class="foto"></div>
    <div class="carousel-cell"><img src="assets/img/caravan4.jpg" alt="" class="foto"></div>
    <div class="carousel-cell"><img src="assets/img/caravan5.jpg" alt="" class="foto"></div>
</div>

<main class="kampMain">
    <div class="container">
        <div class="kampMain-content">
            <div class="kampMain-content-heading">
                <h1 class="kampMain-content-heading-title">Fethiye Kamp Alanı <img (click)="open360Modal()" src="assets/img/360-view.png"></h1>
            </div>
            <div class="kampMain-content-location">
                <div class="kampMain-content-location-icon">
                    <img src="assets/img/konum.svg" alt="">
                </div>
                <div class="kampMain-content-location-name">Fethiye, Muğla</div>
            </div>
            <div class="kampMain-content-details">
                <div class="kampMain-content-details-left">
                    <img src="assets/img/profile1.png" alt="" class="kampMain-content-details-profile-photo">
                    <div class="kampMain-content-details-left-profile">
                        <div class="kampMain-content-details-left-profile-title">Konaklama Sahibi</div>
                        <div class="kampMain-content-details-left-profile-name">Faruk İpek</div>
                    </div>
                </div>
                <div class="kampMain-content-details-right">Kullanılabilecek 2 farklı alanımız var. Orijinal alan RV'nin yanında bulunur ve bu, kamp yapmak veya birbirine yakın olmak isteyen büyük bir aile veya arkadaş grubu için kullanılabilir. Ahırda tuvalet ve lavabo artı gerekirse donduruculu
                    bir buzdolabı bulunmaktadır. Açık ateşe veya kamp ateşine izin verilmez. Kömür ızgarası iyidir. Birkaç ağaç da hamak için iyi çalışır. İkinci alan, araba yolumuzun sonundadır ve bölgede seyahat eden ve çadır kurmak veya içinde kalacak
                    bir araç park etmek için güvenli bir yer isteyen insanlar içindir.</div>
            </div>
            <div class="kampMain-content-boxes">
                <div class="kampMain-content-boxes-box">
                    <div class="kampMain-content-boxes-box-heading">Kamp Alanı</div>
                    <div class="kampMain-content-boxes-box-list">
                        <div class="kampMain-content-boxes-box-list-item">
                            <div class="kampMain-content-boxes-box-list-item-icon">
                                <img src="assets/img/caravan.svg" alt="">
                            </div>
                            <div class="kampMain-content-boxes-box-list-item-text">Kendi çadırınızı ya da karavanınızı getirebilirsiniz.</div>
                        </div>
                        <div class="kampMain-content-boxes-box-list-item">
                            <div class="kampMain-content-boxes-box-list-item-icon"><img src="assets/img/pin.svg" alt="">
                            </div>
                            <div class="kampMain-content-boxes-box-list-item-text">1 otopark alanı</div>
                        </div>
                        <div class="kampMain-content-boxes-box-list-item">
                            <div class="kampMain-content-boxes-box-list-item-icon"><img src="assets/img/people.svg" alt="">
                            </div>
                            <div class="kampMain-content-boxes-box-list-item-text">Maksimum 8 kişi</div>
                        </div>
                        <div class="kampMain-content-boxes-box-list-item">
                            <div class="kampMain-content-boxes-box-list-item-icon"><img src="assets/img/wheel.svg" alt="">
                            </div>
                            <div class="kampMain-content-boxes-box-list-item-text">Tekerlekli sandalye girişi</div>
                        </div>
                    </div>
                </div>
                <div class="kampMain-content-boxes-box">
                    <div class="kampMain-content-boxes-box-heading">Kurallar</div>
                    <div class="kampMain-content-boxes-box-list">
                        <div class="kampMain-content-boxes-box-list-item">
                            <div class="kampMain-content-boxes-box-list-item-icon"><img src="assets/img/fire.svg" alt="">
                            </div>
                            <div class="kampMain-content-boxes-box-list-item-text">Kamp ateşine izin verilir</div>
                        </div>
                        <div class="kampMain-content-boxes-box-list-item">
                            <div class="kampMain-content-boxes-box-list-item-icon"><img src="assets/img/toilet.svg" alt="">
                            </div>
                            <div class="kampMain-content-boxes-box-list-item-text">Tuvalet mevcut.</div>
                        </div>
                        <div class="kampMain-content-boxes-box-list-item">
                            <div class="kampMain-content-boxes-box-list-item-icon"><img src="assets/img/pet.svg" alt="">
                            </div>
                            <div class="kampMain-content-boxes-box-list-item-text">Evcil hayvan girebilir.</div>
                        </div>
                    </div>
                </div>
                <div class="kampMain-content-boxes-box">
                    <div class="kampMain-content-boxes-box-heading">Kurallar</div>
                    <div class="kampMain-content-boxes-box-list">
                        <div class="kampMain-content-boxes-box-list-item">
                            <div class="kampMain-content-boxes-box-list-item-icon"><img src="assets/img/shower.svg" alt="">
                            </div>
                            <div class="kampMain-content-boxes-box-list-item-text">Duş mevcut.</div>
                        </div>
                        <div class="kampMain-content-boxes-box-list-item">
                            <div class="kampMain-content-boxes-box-list-item-icon"><img src="assets/img/table.svg" alt="">
                            </div>
                            <div class="kampMain-content-boxes-box-list-item-text">Piknik masası mevcut</div>
                        </div>
                        <div class="kampMain-content-boxes-box-list-item">
                            <div class="kampMain-content-boxes-box-list-item-icon"><img src="assets/img/wifi.svg" alt="">
                            </div>
                            <div class="kampMain-content-boxes-box-list-item-text">Wifi mevcut</div>
                        </div>
                        <div class="kampMain-content-boxes-box-list-item">
                            <div class="kampMain-content-boxes-box-list-item-icon"><img src="assets/img/trash.svg" alt="">
                            </div>
                            <div class="kampMain-content-boxes-box-list-item-text">Çöp kutusu mevcut</div>
                        </div>
                        <div class="kampMain-content-boxes-box-list-item">
                            <div class="kampMain-content-boxes-box-list-item-icon"><img src="assets/img/fork.svg" alt="">
                            </div>
                            <div class="kampMain-content-boxes-box-list-item-text">Mutfak yok</div>
                        </div>
                        <div class="kampMain-content-boxes-box-list-item">
                            <div class="kampMain-content-boxes-box-list-item-icon"><img src="/assets/img/laundry.svg" alt=""></div>
                            <div class="kampMain-content-boxes-box-list-item-text">Çamaşırhane yok</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kampMain-content-description">
                <div class="kampMain-content-description-heading">Detaylar</div>
                <div class="kampMain-content-description-list">
                    <div class="kampMain-content-description-list-checkin">Giriş Saati:</div>
                    <div class="kampMain-content-description-list-value">14:00</div>
                </div>
                <div class="kampMain-content-description-list">
                    <div class="kampMain-content-description-list-checkin">Çıkış Saati:</div>
                    <div class="kampMain-content-description-list-value">12:00</div>
                </div>
                <div class="kampMain-content-description-list">
                    <div class="kampMain-content-description-list-checkin">Minimum rezervasyon süresi:</div>
                    <div class="kampMain-content-description-list-value">1 gün</div>
                </div>
            </div>
            <div class="kampMain-content-reservation">
                <div class="kampMain-content-reservation-heading">Rezervasyonuna Ek Hizmetler</div>
                <div class="kampMain-content-reservation-list">
                    <div *ngFor="let ex of extra" class="kampMain-content-reservation-list-item">
                        <div class="kampMain-content-reservation-list-item-heading">
                            <div class="kampMain-content-reservation-list-item-heading-icon"><img src="{{ex.img}}" alt=""></div>
                            <div class="kampMain-content-reservation-list-item-heading-price">{{ex.price}} ₺</div>
                        </div>
                        <div class="kampMain-content-reservation-list-item-title">{{ex.name}}</div>
                        <div class="kampMain-content-reservation-list-item-text">{{ex.desc}}</div>
                    </div>
                </div>
            </div>
            <div class="kampMain-content-activities">
                <div class="kampMain-content-activities-heading">Aktiviteler</div>
                <div class="kampMain-content-activities-list">
                    <div class="kampMain-content-activities-list-item">
                        <div class="kampMain-content-activities-list-item-icon"><img src="assets/img/fish.svg" alt="">
                        </div>
                        <div class="kampMain-content-activities-list-item-title">Balık Tutma</div>
                        <div class="kampMain-content-activities-list-item-text">Balık tutmaya izin verilen Muğla gölüne kıyımız bulunmaktadır.</div>
                    </div>
                    <div class="kampMain-content-activities-list-item">
                        <div class="kampMain-content-activities-list-item-icon"><img src="assets/img/hike.svg" alt="">
                        </div>
                        <div class="kampMain-content-activities-list-item-title">Doğa Yürüyüşü</div>
                        <div class="kampMain-content-activities-list-item-text">Kamp alanı içerisinde ve göl çevresi patika yola sahibiz.</div>
                    </div>
                    <div class="kampMain-content-activities-list-item">
                        <div class="kampMain-content-activities-list-item-icon"><img src="assets/img/sunset.svg" alt="">
                        </div>
                        <div class="kampMain-content-activities-list-item-title">Gün Batımı</div>
                        <div class="kampMain-content-activities-list-item-text">Gölün üzerinde batan mükemmel bir güneşe sahibiz.</div>
                    </div>
                    <div class="kampMain-content-activities-list-item">
                        <div class="kampMain-content-activities-list-item-icon"><img src="assets/img/lake.svg" alt="">
                        </div>
                        <div class="kampMain-content-activities-list-item-title">Göl</div>
                        <div class="kampMain-content-activities-list-item-text">Kamp alanı içerisinde göle sahibiz.
                        </div>
                    </div>
                    <div class="kampMain-content-activities-list-item">
                        <div class="kampMain-content-activities-list-item-icon"><img src="assets/img/forest.svg" alt="">
                        </div>
                        <div class="kampMain-content-activities-list-item-title">Orman</div>
                        <div class="kampMain-content-activities-list-item-text">Kampımız bir orman içerisindedir.
                        </div>
                    </div>
                    <div class="kampMain-content-activities-list-item">
                        <div class="kampMain-content-activities-list-item-icon"><img src="assets/img/riding.svg" alt="">
                        </div>
                        <div class="kampMain-content-activities-list-item-title">Binicilik</div>
                        <div class="kampMain-content-activities-list-item-text">Rehber ile birlikte biniciliği deneyimleyebilirsiniz.
                        </div>
                    </div>
                    <div class="kampMain-content-activities-list-item">
                        <div class="kampMain-content-activities-list-item-icon"><img src="assets/img/waterfall.svg" alt="">
                        </div>
                        <div class="kampMain-content-activities-list-item-title">Şelale</div>
                        <div class="kampMain-content-activities-list-item-text">Orman içerisinde mini bir şelaleye sahibiz.
                        </div>
                    </div>
                    <div class="kampMain-content-activities-list-item">
                        <div class="kampMain-content-activities-list-item-icon"><img src="assets/img/farm.svg" alt="">
                        </div>
                        <div class="kampMain-content-activities-list-item-title">Çiftlik</div>
                        <div class="kampMain-content-activities-list-item-text">Kamp alanı içerisinde çiftliğe sahibiz.
                        </div>
                    </div>

                </div>
            </div>
            <div class="kampMain-content-calendar">
                <div class="kampMain-content-calendar-heading">Takvim</div>
                <div class="kampMain-content-calendar-info">
                    <div class="kampMain-content-calendar-info-list">
                        <div class="kampMain-content-calendar-info-list-item">
                            <div class="kampMain-content-calendar-info-list-item-icon"><img src="assets/img/available.svg" alt=""></div>
                            <div class="kampMain-content-calendar-info-list-item-text">Uygun Tarihler</div>
                        </div>
                        <div class="kampMain-content-calendar-info-list-item">
                            <div class="kampMain-content-calendar-info-list-item-icon"><img src="assets/img/lock.svg" alt=""></div>
                            <div class="kampMain-content-calendar-info-list-item-text">Kilitli</div>
                        </div>
                        <div class="kampMain-content-calendar-info-list-item">
                            <div class="kampMain-content-calendar-info-list-item-icon"><img src="assets/img/reserved.svg" alt=""></div>
                            <div class="kampMain-content-calendar-info-list-item-text">Rezerve Edildi</div>
                        </div>
                        <div class="kampMain-content-calendar-info-list-item">
                            <div class="kampMain-content-calendar-info-list-item-icon"><img src="assets/img/wheelchair.svg" alt=""></div>
                            <div class="kampMain-content-calendar-info-list-item-text">Engelli Girişine Uygun</div>
                        </div>
                    </div>
                </div>
                <div class="kampMain-content-calendar-main">
                    <div class="kampMain-content-calendar-main-left">
                        <div class="kampMain-content-calendar-main-left-list">
                            <div class="kampMain-content-calendar-main-left-list-item">Park Alanı #1</div>
                            <div class="kampMain-content-calendar-main-left-list-item">Park Alanı #2</div>
                            <div class="kampMain-content-calendar-main-left-list-item">Park Alanı #3 <img src="assets/img/wheelchair2.svg" alt=""></div>
                            <div class="kampMain-content-calendar-main-left-list-item">Park Alanı #4 <img src="assets/img/wheelchair2.svg" alt=""></div>
                            <div class="kampMain-content-calendar-main-left-list-item">Park Alanı #5 <img src="assets/img/wheelchair2.svg" alt=""></div>
                        </div>
                    </div>
                    <div class="kampMain-content-calendar-main-right">
                        <div class="kampMain-content-calendar-main-right-week">
                            <div class="kampMain-content-calendar-main-right-week-list">
                                <div class="kampMain-content-calendar-main-right-week-list-item"><img src="assets/img/left.svg" alt="" class="arrowleft"> Önceki Hafta</div>
                                <div class="kampMain-content-calendar-main-right-week-list-item"><b>Aralık</b></div>
                                <div class="kampMain-content-calendar-main-right-week-list-item"> Sonraki Hafta<img src="assets/img/right.svg" alt="" class="arrowright">
                                </div>
                            </div>
                        </div>
                        <div class="kampMain-content-calendar-main-right-day">
                            <div class="kampMain-content-calendar-main-right-day-list">
                                <div class="kampMain-content-calendar-main-right-day-list-item">
                                    <div class="kampMain-content-calendar-main-right-day-list-item-value">Pzt</div>
                                    <div class="kampMain-content-calendar-main-right-day-list-item-day">20</div>
                                </div>
                                <div class="kampMain-content-calendar-main-right-day-list-item">
                                    <div class="kampMain-content-calendar-main-right-day-list-item-value">Sal</div>
                                    <div class="kampMain-content-calendar-main-right-day-list-item-day">21</div>
                                </div>
                                <div class="kampMain-content-calendar-main-right-day-list-item">
                                    <div class="kampMain-content-calendar-main-right-day-list-item-value">Çar</div>
                                    <div class="kampMain-content-calendar-main-right-day-list-item-day">22</div>
                                </div>
                                <div class="kampMain-content-calendar-main-right-day-list-item">
                                    <div class="kampMain-content-calendar-main-right-day-list-item-value">Per</div>
                                    <div class="kampMain-content-calendar-main-right-day-list-item-day">23</div>
                                </div>
                                <div class="kampMain-content-calendar-main-right-day-list-item">
                                    <div class="kampMain-content-calendar-main-right-day-list-item-value">Cum</div>
                                    <div class="kampMain-content-calendar-main-right-day-list-item-day">24</div>
                                </div>
                                <div class="kampMain-content-calendar-main-right-day-list-item">
                                    <div class="kampMain-content-calendar-main-right-day-list-item-value">Cmt</div>
                                    <div class="kampMain-content-calendar-main-right-day-list-item-day">25</div>
                                </div>
                                <div class="kampMain-content-calendar-main-right-day-list-item">
                                    <div class="kampMain-content-calendar-main-right-day-list-item-value">Paz</div>
                                    <div class="kampMain-content-calendar-main-right-day-list-item-day">26</div>
                                </div>
                            </div>
                        </div>
                        <div class="kampMain-content-calendar-main-right-boxes">
                            <div class="kampMain-content-calendar-main-right-boxes-list">
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/lock.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/reserved.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/reserved.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/available.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/available.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/available.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/available.svg" alt=""></div>
                            </div>
                            <div class="kampMain-content-calendar-main-right-boxes-list">
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/lock.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/available.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/available.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/available.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/available.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/available.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/available.svg" alt=""></div>
                            </div>
                            <div class="kampMain-content-calendar-main-right-boxes-list">
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/lock.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/reserved.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/reserved.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/reserved.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/reserved.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/reserved.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/reserved.svg" alt=""></div>
                            </div>
                            <div class="kampMain-content-calendar-main-right-boxes-list">
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/lock.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/available.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/available.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/available.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/available.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/reserved.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/reserved.svg" alt=""></div>
                            </div>
                            <div class="kampMain-content-calendar-main-right-boxes-list">
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/lock.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/available.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/available.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/available.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/available.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/reserved.svg" alt=""></div>
                                <div class="kampMain-content-calendar-main-right-boxes-list-item"><img src="assets/img/reserved.svg" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kampMain-content-weather">
                <div class="kampMain-content-weather-heading">Hava Durumu</div>
                <div class="kampMain-content-weather-city">Fethiye, Muğla, Türkiye</div>
                <div class="kampMain-content-weather-list">
                    <div class="kampMain-content-weather-list-item">
                        <div class="kampMain-content-weather-list-item-day">20 Aralık</div>
                        <div class="kampMain-content-weather-list-item-degree">
                            <div class="kampMain-content-weather-list-item-degree-max">3°</div>
                            <div class="kampMain-content-weather-list-item-degree-min">/-6°</div>
                        </div>
                        <div class="kampMain-content-weather-list-item-icon"><img src="assets/img/snow.svg" alt=""></div>
                    </div>
                    <div class="kampMain-content-weather-list-item">
                        <div class="kampMain-content-weather-list-item-day">21 Aralık</div>
                        <div class="kampMain-content-weather-list-item-degree">
                            <div class="kampMain-content-weather-list-item-degree-max">2°</div>
                            <div class="kampMain-content-weather-list-item-degree-min">/-5°</div>
                        </div>
                        <div class="kampMain-content-weather-list-item-icon"><img src="assets/img/snow.svg" alt=""></div>
                    </div>
                    <div class="kampMain-content-weather-list-item">
                        <div class="kampMain-content-weather-list-item-day">22 Aralık</div>
                        <div class="kampMain-content-weather-list-item-degree">
                            <div class="kampMain-content-weather-list-item-degree-max">7°</div>
                            <div class="kampMain-content-weather-list-item-degree-min">/2°</div>
                        </div>
                        <div class="kampMain-content-weather-list-item-icon"><img src="assets/img/thunder.svg" alt="">
                        </div>
                    </div>
                    <div class="kampMain-content-weather-list-item">
                        <div class="kampMain-content-weather-list-item-day">23 Aralık</div>
                        <div class="kampMain-content-weather-list-item-degree">
                            <div class="kampMain-content-weather-list-item-degree-max">5°</div>
                            <div class="kampMain-content-weather-list-item-degree-min">/1°</div>
                        </div>
                        <div class="kampMain-content-weather-list-item-icon"><img src="assets/img/thunder.svg" alt="">
                        </div>
                    </div>
                    <div class="kampMain-content-weather-list-item">
                        <div class="kampMain-content-weather-list-item-day">24 Aralık</div>
                        <div class="kampMain-content-weather-list-item-degree">
                            <div class="kampMain-content-weather-list-item-degree-max">6°</div>
                            <div class="kampMain-content-weather-list-item-degree-min">/3°</div>
                        </div>
                        <div class="kampMain-content-weather-list-item-icon"><img src="assets/img/thunder.svg" alt="">
                        </div>
                    </div>
                    <div class="kampMain-content-weather-list-item">
                        <div class="kampMain-content-weather-list-item-day">25 Aralık</div>
                        <div class="kampMain-content-weather-list-item-degree">
                            <div class="kampMain-content-weather-list-item-degree-max">2°</div>
                            <div class="kampMain-content-weather-list-item-degree-min">/-5°</div>
                        </div>
                        <div class="kampMain-content-weather-list-item-icon"><img src="assets/img/snow.svg" alt=""></div>
                    </div>
                    <div class="kampMain-content-weather-list-item">
                        <div class="kampMain-content-weather-list-item-day">26 Aralık</div>
                        <div class="kampMain-content-weather-list-item-degree">
                            <div class="kampMain-content-weather-list-item-degree-max">1°</div>
                            <div class="kampMain-content-weather-list-item-degree-min">/-2°</div>
                        </div>
                        <div class="kampMain-content-weather-list-item-icon"><img src="assets/img/snow.svg" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="caravanMain-content-review">
                <h3 class="caravanMain-content-review-heading">8 Değerlendirme</h3>
                <div class="caravanMain-content-review-list">
                    <div class="caravanMain-content-review-list-item">
                        <div class="caravanMain-content-review-list-item-heading">
                            <img src="assets/img/profile1.png" class="caravanMain-content-review-list-item-heading-photo" alt="">
                            <div class="caravanMain-content-review-list-item-heading-profile">
                                <span class="caravanMain-content-review-list-item-heading-profile-name">Faruk
                                    İpek</span>
                                <span class="caravanMain-content-review-list-item-heading-profile-date">Haziran
                                    2021</span>
                            </div>
                            <div class="caravanMain-content-review-list-item-heading-star"><img src="assets/img/yildiz.svg" alt="">
                                <img src="assets/img/yildiz.svg" alt="">
                                <img src="assets/img/yildiz.svg" alt="">
                                <img src="assets/img/yildiz.svg" alt="">
                                <img src="assets/img/yildiz.svg" alt="">
                            </div>
                        </div>
                        <div class="caravanMain-content-review-list-item-detail">
                            Mükemmel bir deneyim yaşadık. Çok teşekkürler.
                        </div>
                    </div>
                    <div class="caravanMain-content-review-list-item">
                        <div class="caravanMain-content-review-list-item-heading">
                            <img src="assets/img/profile1.png" class="caravanMain-content-review-list-item-heading-photo" alt="">
                            <div class="caravanMain-content-review-list-item-heading-profile">
                                <span class="caravanMain-content-review-list-item-heading-profile-name">Faruk
                                    İpek</span>
                                <span class="caravanMain-content-review-list-item-heading-profile-date">Haziran
                                    2021</span>
                            </div>
                            <div class="caravanMain-content-review-list-item-heading-star">
                                <img src="assets/img/yildiz.svg" alt="">
                                <img src="assets/img/yildiz.svg" alt="">
                                <img src="assets/img/yildiz.svg" alt="">
                                <img src="assets/img/yildiz.svg" alt="">
                                <img src="assets/img/yildiz.svg" alt="">
                            </div>
                        </div>
                        <div class="caravanMain-content-review-list-item-detail">
                            Mükemmel bir deneyim yaşadık. Çok teşekkürler.
                        </div>
                    </div>
                    <div class="caravanMain-content-review-list-item">
                        <div class="caravanMain-content-review-list-item-heading">
                            <img src="assets/img/profile1.png" class="caravanMain-content-review-list-item-heading-photo" alt="">
                            <div class="caravanMain-content-review-list-item-heading-profile">
                                <span class="caravanMain-content-review-list-item-heading-profile-name">Faruk
                                    İpek</span>
                                <span class="caravanMain-content-review-list-item-heading-profile-date">Haziran
                                    2021</span>
                            </div>
                            <div class="caravanMain-content-review-list-item-heading-star"><img src="assets/img/yildiz.svg" alt="">
                                <img src="assets/img/yildiz.svg" alt="">
                                <img src="assets/img/yildiz.svg" alt="">
                                <img src="assets/img/yildiz.svg" alt="">
                                <img src="assets/img/yildiz.svg" alt="">
                            </div>
                        </div>
                        <div class="caravanMain-content-review-list-item-detail">
                            Mükemmel bir deneyim yaşadık. Çok teşekkürler.
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="kampMain-sidebar">
            <div class="kampMain-sidebar-price">
                <div class="kampMain-sidebar-price-money">{{dailyPrice}} ₺</div>
                <div class="kampMain-sidebar-price-daily">/ günlük</div>
            </div>

            <div class="kampMain-sidebar-date">
                <div class="kampMain-sidebar-date-item">
                    <div class="kampMain-sidebar-date-item-title">Alış Tarihi</div>
                    <input [(ngModel)]="fromDate" type="text" onfocus="(this.type='date')" class="caravanMain-sidebar-date-item-value" placeholder="Tarih Seç">
                </div>
                <div class="kampMain-sidebar-date-item">
                    <div class="kampMain-sidebar-date-item-title">İade Tarihi</div>
                    <input (change)="calculate()" id="datemin" name="datemin" min="{{fromDate}}" [disabled]="!fromDate" [(ngModel)]="toDate" type="text" onfocus="(this.type='date')" class="caravanMain-sidebar-date-item-value" placeholder="Tarih Seç">
                </div>
            </div>
            <div (click)="openPage()" class="kampMain-sidebar-button">
                Hemen Öde
            </div>
            <div *ngIf="totalActive" class="kampMain-sidebar-summary">
                <div class="kampMain-sidebar-summary-list">
                    <div class="kampMain-sidebar-summary-list-left">{{dailyPrice}} ₺ x {{totalDay}} gün </div>
                    <div class="kampMain-sidebar-summary-list-right">{{totalDailyPrice}} ₺</div>
                </div>
                <div *ngFor="let item of calcExtraPrice" class="kampMain-sidebar-summary-list">
                    <div class="kampMain-sidebar-summary-list-left">{{item.name}}</div>
                    <div class="kampMain-sidebar-summary-list-right">{{item.price}} ₺</div>
                </div>


                <div class="kampMain-sidebar-summary-seperator"></div>
                <div class="kampMain-sidebar-summary-list">
                    <div class="kampMain-sidebar-summary-list-left">Toplam</div>
                    <div class="kampMain-sidebar-summary-list-right">{{totalPrice}} ₺</div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="caravangif">
    <img src="assets/img/caravan.gif" alt="">
</div>
<div class="similarCaravan">
    <div class="container">
        <h2 class="similarCaravan-heading">Benzer Kamplar</h2>
        <div class="similarCaravan-list">
            <div class="similarCaravan-list-item">
                <img src="assets/img/kamp1.jpg" alt="" class="similarCaravan-list-item-photo">
                <h4 class="similarCaravan-list-item-title">1978 Volkswagen Vintage Bus Westfalia</h4>
                <div class="similarCaravan-list-item-sub">
                    <div class="similarCaravan-list-item-sub-info removedot">
                        <div class="similarCaravan-list-item-sub-info-icon"><img src="assets/img/yildiz.svg" alt=""></div>
                        <div class="similarCaravan-list-item-sub-info-point">4.7</div>
                        <div class="similarCaravan-list-item-sub-info-reviewcount">(23)</div>
                    </div>
                </div>
                <div class="similarCaravan-list-item-price">
                    <span class="similarCaravan-list-item-price-money">258 ₺</span>
                    <span class="similarCaravan-list-item-price-daily">/ günlük</span>
                </div>



            </div>
            <div class="similarCaravan-list-item">
                <img src="assets/img/kamp2.jpg" alt="" class="similarCaravan-list-item-photo">
                <h4 class="similarCaravan-list-item-title">1978 Volkswagen Vintage Bus Westfalia</h4>
                <div class="similarCaravan-list-item-sub">
                    <div class="similarCaravan-list-item-sub-info removedot">
                        <div class="similarCaravan-list-item-sub-info-icon"><img src="assets/img/yildiz.svg" alt=""></div>
                        <div class="similarCaravan-list-item-sub-info-point">4.7</div>
                        <div class="similarCaravan-list-item-sub-info-reviewcount">(23)</div>
                    </div>
                </div>
                <div class="similarCaravan-list-item-price">
                    <span class="similarCaravan-list-item-price-money">258 ₺</span>
                    <span class="similarCaravan-list-item-price-daily">/ günlük</span>
                </div>



            </div>
            <div class="similarCaravan-list-item">
                <img src="assets/img/kamp3.jpg" alt="" class="similarCaravan-list-item-photo">
                <h4 class="similarCaravan-list-item-title">1978 Volkswagen Vintage Bus Westfalia</h4>
                <div class="similarCaravan-list-item-sub">
                    <div class="similarCaravan-list-item-sub-info removedot">
                        <div class="similarCaravan-list-item-sub-info-icon"><img src="assets/img/yildiz.svg" alt=""></div>
                        <div class="similarCaravan-list-item-sub-info-point">4.7</div>
                        <div class="similarCaravan-list-item-sub-info-reviewcount">(23)</div>
                    </div>
                </div>
                <div class="similarCaravan-list-item-price">
                    <span class="similarCaravan-list-item-price-money">258 ₺</span>
                    <span class="similarCaravan-list-item-price-daily">/ günlük</span>
                </div>



            </div>
            <div class="similarCaravan-list-item">
                <img src="assets/img/kamp4.jpg" alt="" class="similarCaravan-list-item-photo">
                <h4 class="similarCaravan-list-item-title">1978 Volkswagen Vintage Bus Westfalia</h4>
                <div class="similarCaravan-list-item-sub">
                    <div class="similarCaravan-list-item-sub-info removedot">
                        <div class="similarCaravan-list-item-sub-info-icon"><img src="assets/img/yildiz.svg" alt=""></div>
                        <div class="similarCaravan-list-item-sub-info-point">4.7</div>
                        <div class="similarCaravan-list-item-sub-info-reviewcount">(23)</div>
                    </div>
                </div>
                <div class="similarCaravan-list-item-price">
                    <span class="similarCaravan-list-item-price-money">258 ₺</span>
                    <span class="similarCaravan-list-item-price-daily">/ günlük</span>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="modelActive" class="modal-360-img">
        <div (click)="open360Modal()" class="close-model"><img src="assets/img/cross.svg" alt=""></div>
        <div id="img360">
            <iframe width="100%" height="500px" src="https://www.airpano.com/embed.php?3D=cappadocia-turkey" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" framespacing="0" allowfullscreen> </iframe> <br>
        </div>
    </div>
</div>