<main class="mainCart">
    <div class="container">
        <div class="mainCart-heading">
            <div class="mainCart-heading-title">Fethiye Kamp Alanı</div>
            <div class="mainCart-heading-location">
                <div class="mainCart-heading-location-icon"><img src="assets/img/konum.svg" alt=""></div>
                <div class="mainCart-heading-location-city">Fethiye, Muğla, Türkiye</div>
            </div>
            <div class="mainCart-heading-profile">
                <img src="assets/img/profile1.png" alt="" class="mainCart-heading-profile-photo">
                <div class="mainCart-heading-profile-details">
                    <div class="mainCart-heading-profile-details-value">Konaklama Sahibi</div>
                    <div class="mainCart-heading-profile-details-name">Faruk İpek</div>
                </div>
            </div>
        </div>
        <div class="mainCart-dates">
            <div class="mainCart-dates-list">
                <div class="mainCart-dates-list-item">
                    <div class="mainCart-dates-list-item-checkin">Check-in</div>
                    <div class="mainCart-dates-list-item-date">21 Aralık</div>
                    <div class="mainCart-dates-list-item-time">14:00</div>
                </div>
                <div class="mainCart-dates-list-item">
                    <div class="mainCart-dates-list-item-checkin">Check-in</div>
                    <div class="mainCart-dates-list-item-date">24 Aralık</div>
                    <div class="mainCart-dates-list-item-time">12:00</div>
                </div>
            </div>

            <div class="mainCart-dates-weather">
                <div class="mainCart-dates-weather-list">
                    <div class="mainCart-dates-weather-list-item">
                        <div class="mainCart-dates-weather-list-item-day">21 Aralık</div>
                        <div class="mainCart-dates-weather-list-item-degree">
                            <div class="mainCart-dates-weather-list-item-degree-max">2°</div>
                            <div class="mainCart-dates-weather-list-item-degree-min">/-5°</div>
                        </div>
                        <div class="mainCart-dates-weather-list-item-icon"><img src="assets/img/snow.svg" alt=""></div>
                    </div>
                    <div class="mainCart-dates-weather-list-item">
                        <div class="mainCart-dates-weather-list-item-day">22 Aralık</div>
                        <div class="mainCart-dates-weather-list-item-degree">
                            <div class="mainCart-dates-weather-list-item-degree-max">7°</div>
                            <div class="mainCart-dates-weather-list-item-degree-min">/2°</div>
                        </div>
                        <div class="mainCart-dates-weather-list-item-icon"><img src="assets/img/thunder.svg" alt="">
                        </div>
                    </div>
                    <div class="mainCart-dates-weather-list-item">
                        <div class="mainCart-dates-weather-list-item-day">23 Aralık</div>
                        <div class="mainCart-dates-weather-list-item-degree">
                            <div class="mainCart-dates-weather-list-item-degree-max">5°</div>
                            <div class="mainCart-dates-weather-list-item-degree-min">/1°</div>
                        </div>
                        <div class="mainCart-dates-weather-list-item-icon"><img src="assets/img/thunder.svg" alt="">
                        </div>
                    </div>
                    <div class="mainCart-dates-weather-list-item">
                        <div class="mainCart-dates-weather-list-item-day">24 Aralık</div>
                        <div class="mainCart-dates-weather-list-item-degree">
                            <div class="mainCart-dates-weather-list-item-degree-max">6°</div>
                            <div class="mainCart-dates-weather-list-item-degree-min">/3°</div>
                        </div>
                        <div class="mainCart-dates-weather-list-item-icon"><img src="assets/img/thunder.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

<main class="mainChecklist">
    <div class="container">
        <div class="mainChecklist-list">
            <div class="mainChecklist-list-heading">Çadır malzemeleri</div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Çadır</label></div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Çadır yağmurluğu</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Çadır alt örtüsü</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Kazıklar</label></div>
        </div>
        <div class="mainChecklist-list">
            <div class="mainChecklist-list-heading">Uyku Düzeneği</div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Mat(ya da şişme
                    yatak)</label></div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Uyku tulumu & çantası</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Uyku tulumu için plastik
                    torba</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Branda & asmak için ip(Su
                    geçirmez malzemeden</label></div>
        </div>
        <div class="mainChecklist-list">
            <div class="mainChecklist-list-heading">Piknik Malzemeleri</div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Katlanan sandalye</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Katlanır masa</label></div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Kamp ocağı / Çakmak ya da
                    kibrit</label></div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Kamp lambası ve pili</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Ortam Lambası ve pil</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Uzatma kablosu</label></div>
        </div>
        <div class="mainChecklist-list">
            <div class="mainChecklist-list-heading">Faydalı Eşyalar</div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Bant</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Kağıt & Kalem</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Mum</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">İp</label>
            </div>

        </div>
        <div class="mainChecklist-list">
            <div class="mainChecklist-list-heading">Kamp Mutfağı Malzemeleri</div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Çöp Torbası</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Alüminyum Folyo</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Fermuarlı Torba</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Metal ya da plastik
                    tabak</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Metal ya da plastik
                    bardak</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Pişirme seti(tencere, tava ve
                    su kaynatmaya uygun kap)</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Soğutucu dolap/Buzluk</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Tirşubon/Kapak
                    açacağı</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Konserve açacağı</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Kesme Tahtası</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Maşa/Izgara teli</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Spatula/Tahta kaşık/Kepçe
                    gibi şeyler</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Termos/Matara</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Çatal/Kaşık/Bıçak</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Kesici Bıçak</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Deterjan & Sünger</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Kağıt havlu</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Bulaşık & meyve sebze yıkama
                    kabı</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Yağ</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Tuz</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Baharat</label>
            </div>

        </div>
        <div class="mainChecklist-list">
            <div class="mainChecklist-list-heading">Kişisel Bakım</div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Havlu</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Diş fırçası & macunu</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Kulak çubuğu</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Duş terliği</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Şampuan & Saç Kremi</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Tarak</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Sabun</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Sinek İlacı</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Güneş Kremi</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">El Dezenfektan</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Ped/Tampon</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Islak Mendil</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">WC Kağıdı</label>
            </div>

        </div>

        <div class="mainChecklist-list">
            <div class="mainChecklist-list-heading">Kamp Giyimi</div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Pusula & Harita</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Düdük</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Dikiş Seti</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">İlk yardım Çantası</label>
            </div>
        </div>
        <div class="mainChecklist-list">
            <div class="mainChecklist-list-heading">Kişisel Eşyalar</div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Nakit</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Fotoğraf Makinesi</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Telefon Sarjı</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">Power Bank</label>
            </div>
            <div class="mainChecklist-list-item"><input type="checkbox"> <label for="">İlaçlar</label>
            </div>
        </div>
    </div>
</main>
<div class="print">
    <div class="container">
        <div class="print-button">
            Yazdır
        </div>
    </div>
</div>

<div class="caravangif">
    <img src="assets/img/caravan.gif" alt="">
</div>