<main class="mainHome">
    <div class="container">
        <div class="mainHome-heading">
            <div class="mainHome-heading-title">Karavan Kiralama</div>
        </div>
        <div class="mainHome-kamp">

            <div class="mainHome-kamp-list">
                <div routerLink="/caravan" class="mainHome-kamp-list-item">
                    <img src="assets/img/kamp1.jpg" alt="" class="mainHome-kamp-list-item-photo">
                    <h4 class="mainHome-kamp-list-item-title">İzmir Alaçatı Kamp Alanı</h4>
                    <div class="mainHome-kamp-list-item-sub">
                        <div class="mainHome-kamp-list-item-sub-info removedot">
                            <div class="mainHome-kamp-list-item-sub-info-icon"><img src="assets/img/yildiz.svg" alt="">
                            </div>
                            <div class="mainHome-kamp-list-item-sub-info-point">4.3</div>
                            <div class="mainHome-kamp-list-item-sub-info-reviewcount">(21)</div>
                        </div>
                    </div>
                    <div class="mainHome-kamp-list-item-price">
                        <span class="mainHome-kamp-list-item-price-money">234 ₺</span>
                        <span class="mainHome-kamp-list-item-price-daily">/ günlük</span>
                    </div>
                </div>
                <div routerLink="/caravan" class="mainHome-kamp-list-item">
                    <img src="assets/img/kamp6.jpg" alt="" class="mainHome-kamp-list-item-photo">
                    <h4 class="mainHome-kamp-list-item-title">Trabzon Kamp Alanı</h4>
                    <div class="mainHome-kamp-list-item-sub">
                        <div class="mainHome-kamp-list-item-sub-info removedot">
                            <div class="mainHome-kamp-list-item-sub-info-icon"><img src="assets/img/yildiz.svg" alt="">
                            </div>
                            <div class="mainHome-kamp-list-item-sub-info-point">4.4</div>
                            <div class="mainHome-kamp-list-item-sub-info-reviewcount">(13)</div>
                        </div>
                    </div>
                    <div class="mainHome-kamp-list-item-price">
                        <span class="mainHome-kamp-list-item-price-money">421 ₺</span>
                        <span class="mainHome-kamp-list-item-price-daily">/ günlük</span>
                    </div>
                </div>
                <div routerLink="/caravan" class="mainHome-kamp-list-item">
                    <img src="assets/img/kamp7.jpg" alt="" class="mainHome-kamp-list-item-photo">
                    <h4 class="mainHome-kamp-list-item-title">Muğla Kamp Alanı</h4>
                    <div class="mainHome-kamp-list-item-sub">
                        <div class="mainHome-kamp-list-item-sub-info removedot">
                            <div class="mainHome-kamp-list-item-sub-info-icon"><img src="assets/img/yildiz.svg" alt="">
                            </div>
                            <div class="mainHome-kamp-list-item-sub-info-point">4.9</div>
                            <div class="mainHome-kamp-list-item-sub-info-reviewcount">(32)</div>
                        </div>
                    </div>
                    <div class="mainHome-kamp-list-item-price">
                        <span class="mainHome-kamp-list-item-price-money">236 ₺</span>
                        <span class="mainHome-kamp-list-item-price-daily">/ günlük</span>
                    </div>
                </div>
                <div routerLink="/caravan" class="mainHome-kamp-list-item">
                    <img src="assets/img/kamp8.jpg" alt="" class="mainHome-kamp-list-item-photo">
                    <h4 class="mainHome-kamp-list-item-title">Antalya Kamp Alanı</h4>
                    <div class="mainHome-kamp-list-item-sub">
                        <div class="mainHome-kamp-list-item-sub-info removedot">
                            <div class="mainHome-kamp-list-item-sub-info-icon"><img src="assets/img/yildiz.svg" alt="">
                            </div>
                            <div class="mainHome-kamp-list-item-sub-info-point">4.3</div>
                            <div class="mainHome-kamp-list-item-sub-info-reviewcount">(56)</div>
                        </div>
                    </div>
                    <div class="mainHome-kamp-list-item-price">
                        <span class="mainHome-kamp-list-item-price-money">322 ₺</span>
                        <span class="mainHome-kamp-list-item-price-daily">/ günlük</span>
                    </div>
                </div>
                <div routerLink="/caravan" class="mainHome-kamp-list-item">
                    <img src="assets/img/kamp5.jpg" alt="" class="mainHome-kamp-list-item-photo">
                    <h4 class="mainHome-kamp-list-item-title">Adana Kamp Alanı</h4>
                    <div class="mainHome-kamp-list-item-sub">
                        <div class="mainHome-kamp-list-item-sub-info removedot">
                            <div class="mainHome-kamp-list-item-sub-info-icon"><img src="assets/img/yildiz.svg" alt="">
                            </div>
                            <div class="mainHome-kamp-list-item-sub-info-point">4.1</div>
                            <div class="mainHome-kamp-list-item-sub-info-reviewcount">(11)</div>
                        </div>
                    </div>
                    <div class="mainHome-kamp-list-item-price">
                        <span class="mainHome-kamp-list-item-price-money">325 ₺</span>
                        <span class="mainHome-kamp-list-item-price-daily">/ günlük</span>
                    </div>
                </div>
                <div routerLink="/caravan" class="mainHome-kamp-list-item">
                    <img src="assets/img/kamp1.jpg" alt="" class="mainHome-kamp-list-item-photo">
                    <h4 class="mainHome-kamp-list-item-title">Çanakkale Kamp Alanı</h4>
                    <div class="mainHome-kamp-list-item-sub">
                        <div class="mainHome-kamp-list-item-sub-info removedot">
                            <div class="mainHome-kamp-list-item-sub-info-icon"><img src="assets/img/yildiz.svg" alt="">
                            </div>
                            <div class="mainHome-kamp-list-item-sub-info-point">4.3</div>
                            <div class="mainHome-kamp-list-item-sub-info-reviewcount">(42)</div>
                        </div>
                    </div>
                    <div class="mainHome-kamp-list-item-price">
                        <span class="mainHome-kamp-list-item-price-money">432 ₺</span>
                        <span class="mainHome-kamp-list-item-price-daily">/ günlük</span>
                    </div>
                </div>
                <div routerLink="/caravan" class="mainHome-kamp-list-item">
                    <img src="assets/img/kamp2.jpg" alt="" class="mainHome-kamp-list-item-photo">
                    <h4 class="mainHome-kamp-list-item-title">Aydın Kamp Alanı</h4>
                    <div class="mainHome-kamp-list-item-sub">
                        <div class="mainHome-kamp-list-item-sub-info removedot">
                            <div class="mainHome-kamp-list-item-sub-info-icon"><img src="assets/img/yildiz.svg" alt="">
                            </div>
                            <div class="mainHome-kamp-list-item-sub-info-point">4.2</div>
                            <div class="mainHome-kamp-list-item-sub-info-reviewcount">(22)</div>
                        </div>
                    </div>
                    <div class="mainHome-kamp-list-item-price">
                        <span class="mainHome-kamp-list-item-price-money">211 ₺</span>
                        <span class="mainHome-kamp-list-item-price-daily">/ günlük</span>
                    </div>
                </div>
                <div routerLink="/caravan" class="mainHome-kamp-list-item">
                    <img src="assets/img/kamp3.jpg" alt="" class="mainHome-kamp-list-item-photo">
                    <h4 class="mainHome-kamp-list-item-title">Erzurum Kamp Alanı</h4>
                    <div class="mainHome-kamp-list-item-sub">
                        <div class="mainHome-kamp-list-item-sub-info removedot">
                            <div class="mainHome-kamp-list-item-sub-info-icon"><img src="assets/img/yildiz.svg" alt="">
                            </div>
                            <div class="mainHome-kamp-list-item-sub-info-point">4.0</div>
                            <div class="mainHome-kamp-list-item-sub-info-reviewcount">(33)</div>
                        </div>
                    </div>
                    <div class="mainHome-kamp-list-item-price">
                        <span class="mainHome-kamp-list-item-price-money">187 ₺</span>
                        <span class="mainHome-kamp-list-item-price-daily">/ günlük</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<main class="mainHomeKamp">
    <div class="container">
        <div class="mainHomeKamp-heading">
            <div class="mainHomeKamp-heading-title">Karavan Kiralama</div>
        </div>
        <div class="mainHomeKamp-kamp">
            <div class="mainHomeKamp-kamp-list">
                <div routerLink="/camp" class="mainHomeKamp-kamp-list-item">
                    <img src="assets/img/karavan1.jpg" alt="" class="mainHomeKamp-kamp-list-item-photo">
                    <h4 class="mainHomeKamp-kamp-list-item-title">1978 Volkswagen Vintage Bus Westfalia</h4>
                    <div class="mainHomeKamp-kamp-list-item-sub">
                        <div class="mainHomeKamp-kamp-list-item-sub-info removedot">
                            <div class="mainHomeKamp-kamp-list-item-sub-info-icon"><img src="assets/img/yildiz.svg" alt="">
                            </div>
                            <div class="mainHomeKamp-kamp-list-item-sub-info-point">4.7</div>
                            <div class="mainHomeKamp-kamp-list-item-sub-info-reviewcount">(23)</div>
                        </div>
                    </div>
                    <div class="mainHomeKamp-kamp-list-item-price">
                        <span class="mainHomeKamp-kamp-list-item-price-money">258 ₺</span>
                        <span class="mainHomeKamp-kamp-list-item-price-daily">/ günlük</span>
                    </div>
                </div>
                <div routerLink="/camp" class="mainHomeKamp-kamp-list-item">
                    <img src="assets/img/karavan2.jpg" alt="" class="mainHomeKamp-kamp-list-item-photo">
                    <h4 class="mainHomeKamp-kamp-list-item-title">1978 Volkswagen Vintage Bus Westfalia</h4>
                    <div class="mainHomeKamp-kamp-list-item-sub">
                        <div class="mainHomeKamp-kamp-list-item-sub-info removedot">
                            <div class="mainHomeKamp-kamp-list-item-sub-info-icon"><img src="assets/img/yildiz.svg" alt="">
                            </div>
                            <div class="mainHomeKamp-kamp-list-item-sub-info-point">4.7</div>
                            <div class="mainHomeKamp-kamp-list-item-sub-info-reviewcount">(23)</div>
                        </div>
                    </div>
                    <div class="mainHomeKamp-kamp-list-item-price">
                        <span class="mainHomeKamp-kamp-list-item-price-money">258 ₺</span>
                        <span class="mainHomeKamp-kamp-list-item-price-daily">/ günlük</span>
                    </div>
                </div>
                <div routerLink="/camp" class="mainHomeKamp-kamp-list-item">
                    <img src="assets/img/karavan3.jpg" alt="" class="mainHomeKamp-kamp-list-item-photo">
                    <h4 class="mainHomeKamp-kamp-list-item-title">1978 Volkswagen Vintage Bus Westfalia</h4>
                    <div class="mainHomeKamp-kamp-list-item-sub">
                        <div class="mainHomeKamp-kamp-list-item-sub-info removedot">
                            <div class="mainHomeKamp-kamp-list-item-sub-info-icon"><img src="assets/img/yildiz.svg" alt="">
                            </div>
                            <div class="mainHomeKamp-kamp-list-item-sub-info-point">4.7</div>
                            <div class="mainHomeKamp-kamp-list-item-sub-info-reviewcount">(23)</div>
                        </div>
                    </div>
                    <div class="mainHomeKamp-kamp-list-item-price">
                        <span class="mainHomeKamp-kamp-list-item-price-money">258 ₺</span>
                        <span class="mainHomeKamp-kamp-list-item-price-daily">/ günlük</span>
                    </div>
                </div>
                <div routerLink="/camp" class="mainHomeKamp-kamp-list-item">
                    <img src="assets/img/karavan4.jpg" alt="" class="mainHomeKamp-kamp-list-item-photo">
                    <h4 class="mainHomeKamp-kamp-list-item-title">1978 Volkswagen Vintage Bus Westfalia</h4>
                    <div class="mainHomeKamp-kamp-list-item-sub">
                        <div class="mainHomeKamp-kamp-list-item-sub-info removedot">
                            <div class="mainHomeKamp-kamp-list-item-sub-info-icon"><img src="assets/img/yildiz.svg" alt="">
                            </div>
                            <div class="mainHomeKamp-kamp-list-item-sub-info-point">4.7</div>
                            <div class="mainHomeKamp-kamp-list-item-sub-info-reviewcount">(23)</div>
                        </div>
                    </div>
                    <div class="mainHomeKamp-kamp-list-item-price">
                        <span class="mainHomeKamp-kamp-list-item-price-money">258 ₺</span>
                        <span class="mainHomeKamp-kamp-list-item-price-daily">/ günlük</span>
                    </div>
                </div>
                <div routerLink="/camp" class="mainHomeKamp-kamp-list-item">
                    <img src="assets/img/karavan5.jpg" alt="" class="mainHomeKamp-kamp-list-item-photo">
                    <h4 class="mainHomeKamp-kamp-list-item-title">1978 Volkswagen Vintage Bus Westfalia</h4>
                    <div class="mainHomeKamp-kamp-list-item-sub">
                        <div class="mainHomeKamp-kamp-list-item-sub-info removedot">
                            <div class="mainHomeKamp-kamp-list-item-sub-info-icon"><img src="assets/img/yildiz.svg" alt="">
                            </div>
                            <div class="mainHomeKamp-kamp-list-item-sub-info-point">4.7</div>
                            <div class="mainHomeKamp-kamp-list-item-sub-info-reviewcount">(23)</div>
                        </div>
                    </div>
                    <div class="mainHomeKamp-kamp-list-item-price">
                        <span class="mainHomeKamp-kamp-list-item-price-money">258 ₺</span>
                        <span class="mainHomeKamp-kamp-list-item-price-daily">/ günlük</span>
                    </div>
                </div>
                <div routerLink="/camp" class="mainHomeKamp-kamp-list-item">
                    <img src="assets/img/karavan6.jpg" alt="" class="mainHomeKamp-kamp-list-item-photo">
                    <h4 class="mainHomeKamp-kamp-list-item-title">1978 Volkswagen Vintage Bus Westfalia</h4>
                    <div class="mainHomeKamp-kamp-list-item-sub">
                        <div class="mainHomeKamp-kamp-list-item-sub-info removedot">
                            <div class="mainHomeKamp-kamp-list-item-sub-info-icon"><img src="assets/img/yildiz.svg" alt="">
                            </div>
                            <div class="mainHomeKamp-kamp-list-item-sub-info-point">4.7</div>
                            <div class="mainHomeKamp-kamp-list-item-sub-info-reviewcount">(23)</div>
                        </div>
                    </div>
                    <div class="mainHomeKamp-kamp-list-item-price">
                        <span class="mainHomeKamp-kamp-list-item-price-money">258 ₺</span>
                        <span class="mainHomeKamp-kamp-list-item-price-daily">/ günlük</span>
                    </div>
                </div>
                <div routerLink="/camp" class="mainHomeKamp-kamp-list-item">
                    <img src="assets/img/karavan7.jpg" alt="" class="mainHomeKamp-kamp-list-item-photo">
                    <h4 class="mainHomeKamp-kamp-list-item-title">1978 Volkswagen Vintage Bus Westfalia</h4>
                    <div class="mainHomeKamp-kamp-list-item-sub">
                        <div class="mainHomeKamp-kamp-list-item-sub-info removedot">
                            <div class="mainHomeKamp-kamp-list-item-sub-info-icon"><img src="assets/img/yildiz.svg" alt="">
                            </div>
                            <div class="mainHomeKamp-kamp-list-item-sub-info-point">4.7</div>
                            <div class="mainHomeKamp-kamp-list-item-sub-info-reviewcount">(23)</div>
                        </div>
                    </div>
                    <div class="mainHomeKamp-kamp-list-item-price">
                        <span class="mainHomeKamp-kamp-list-item-price-money">258 ₺</span>
                        <span class="mainHomeKamp-kamp-list-item-price-daily">/ günlük</span>
                    </div>
                </div>
                <div routerLink="/camp" class="mainHomeKamp-kamp-list-item">
                    <img src="assets/img/karavan8.jpg" alt="" class="mainHomeKamp-kamp-list-item-photo">
                    <h4 class="mainHomeKamp-kamp-list-item-title">1978 Volkswagen Vintage Bus Westfalia</h4>
                    <div class="mainHomeKamp-kamp-list-item-sub">
                        <div class="mainHomeKamp-kamp-list-item-sub-info removedot">
                            <div class="mainHomeKamp-kamp-list-item-sub-info-icon"><img src="assets/img/yildiz.svg" alt="">
                            </div>
                            <div class="mainHomeKamp-kamp-list-item-sub-info-point">4.7</div>
                            <div class="mainHomeKamp-kamp-list-item-sub-info-reviewcount">(23)</div>
                        </div>
                    </div>
                    <div class="mainHomeKamp-kamp-list-item-price">
                        <span class="mainHomeKamp-kamp-list-item-price-money">258 ₺</span>
                        <span class="mainHomeKamp-kamp-list-item-price-daily">/ günlük</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>